@(cards: List[Card])

@main("Marvel Memory Card Game") {

<div id="my-memorygame" class="quizy-memorygame">
    <ul>
        @for((card,i) <- cards.zipWithIndex) {
        <li class="match@i">
            <img src="@card.getImagePath()" width="156" height="156"/>
        </li>
        <li class="match@i">
            <img src="@card.getImagePath()" width="156" height="156"/>
        </li>
        }

    </ul>
</div>


<script>
    $('#my-memorygame').quizyMemoryGame({itemWidth: 156, itemHeight: 156, itemsMargin: 40, colCount: 5, animType: 'flip', flipAnim: 'tb', animSpeed: 250, resultIcons: true});
</script>
}
