@(thumbnail: String)

@main("Welcome to Play") {

    <div id="my-memorygame" class="quizy-memorygame">
        <ul>
            <li class="match1">
               <img src="@thumbnail" width="156" height="156" />
            </li>
            <li class="match2">
                Cuba
            </li>
            <li class="match1">
                <img src="@thumbnail" width="156" height="156"/>
            </li>
            <li class="match2">
                Cuba
            </li>
        </ul>
    </div>


    <script>
    $('#my-memorygame').quizyMemoryGame({itemWidth: 156, itemHeight: 156, itemsMargin:40, colCount:5, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true});
    </script>
}
